 body{
    margin: 0;
    padding:0;
    background-video 
        width: 100vw;
   

 }
 .container{
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
  


 }
 #{
    padding-bottom: 10px;
 }
 .card{
    padding: 60px 70px 50px 50px;
    background: rgb(50,50,50);
    border-radius:10px ;
    background-color:rgb(37, 5, 5);
 }
 #name{
    border: 0;
    background:transparent ;
    border-bottom: 1px solid white;
    padding: 6px;
    margin-bottom: 30px;
    width: 200px;
      
 }
 #button{
    border-radius: 20px;
    padding: 10px 20px;
    background: skyblue;
    color:white;
    margin-top: 10px;
    border:none;
    outline: none;
    margin-left: 50px;

     
    }
    #background-video {
            height: 100vh;
            width: 100vw;
            object-fit: cover;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
        }
        .button{
           
            background-color: #4CAF50; /* Green */
            border: 30px;
            color: white;
            padding: 5px 7px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
        .nav{
            border: 30px;
            width:;
            padding: 30px;
            background-color: rgb(194, 218, 14);
            text-decoration-color: #4CAF50;
            font-style:italic;
            box-sizing: border-box;
                }